.card-body{
    background-color: #79c2d0;
}

#btnCreate{
    background-color: rgb(122, 170, 191);
    color: white;
    border: rgb(119, 152, 189) 1px solid;
}
#btnCreate:hover{
    background-color: #53a8b6;
}
.card-header{
    background-color: #bbe4e9;
}

ul li.checked{
    background-color: cadetblue;
    color: white;
    text-decoration: line-through;
}

.close{
    color: gray;
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 1.5rem;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
}

.close:hover{
 color: black;
}

#deleteAll{
    position: absolute;
    right: 5px;
    top: 5px;
}

.change-text{
    position: absolute;
    right: 45px;
    top: 2px;
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
}
.change-text:hover{
    color: black;
   }